{% extends 'base.html' %}

{% block title %} record_class {% endblock %}

{% block content %}
<form action="{{url_for('record_class.class_9')}}">
<center><h1>کلاس های ضبط شده پایه نهم</h1></center>
</form>




<div id="content">
<div id="content" style=" width:410px;float:left;">
    <form style="background-color: rgb(29, 71, 163);" action="{{url_for('record_class.class_9')}}">
    <div>
        <center><img   width="400" height="200" src="https://s17.picofile.com/file/8414604500/math_image.jpg" alt="math_9 logo"></center><br>
    </div>
    <center><a style="color: white;" href="{{url_for('record_class.math_record')}}">ریاضی</a></center>
    </form>
</div>


<div id="content" style=" width:410px;float:left;">
    <form style="background-color: rgb(29, 71, 163);" action="{{url_for('record_class.class_9')}}">
    <div>
        <center><img   width="400" height="200" src="https://s17.picofile.com/file/8414604326/oloom.jpg" alt="oloom_9 logo"></center><br>
    </div>
    <center><a style="color: white;" href="{{url_for('record_class.oloom_record')}}">علوم</a></center>
    </form>
</div>


<div id="content" style=" width:410px;float:left;">
    <form style="background-color: rgb(29, 71, 163);" action="{{url_for('record_class.class_9')}}">
    <div>
        <center><img   width="400" height="200" src="https://s17.picofile.com/file/8414604584/persioan_image.jpg" alt="farsi_9 logo"></center><br>
    </div>
    <center><a style="color: white;" href="{{url_for('record_class.persian_record')}}">فارسی</a></center>
    </form>
</div>









</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>












<div id="content">


<div id="content" style="width:410px;float:left;">
    <form style="background-color: rgb(29, 71, 163);" action="{{url_for('record_class.class_9')}}">
    <div>
        <center><img   width="400" height="200" src="https://s16.picofile.com/file/8414604542/motaleat.jpg" alt="motaleat_9 logo"></center><br>
    </div>
    <center><a style="color: white;" href="{{url_for('record_class.motaleat_record')}}">مطالعات اجتماعی</a></center>
    </form>
</div>

<div id="content" style=" width:410px;float:left;">
    <form style="background-color: rgb(29, 71, 163);" action="{{url_for('record_class.class_9')}}">
    <div>
        <center><img   width="400" height="200" src="https://s16.picofile.com/file/8414604184/qoran.jpg" alt="qoran_9 logo"></center><br>
    </div>
    <center><a style="color: white;" href="{{url_for('record_class.qoran_record')}}">قران</a></center>
    </form>
</div>

<div id="content" style=" width:410px;float:left;">
    <form style="background-color: rgb(29, 71, 163);" action="{{url_for('record_class.class_9')}}">
    <div>
        <center><img   width="400" height="200" src="https://s17.picofile.com/file/8414604292/payamha.jpg" alt="payamha_9 logo"></center><br>
    </div>
    <center><a style="color: white;" href="{{url_for('record_class.payamha_record')}}">پیام های آسمانی</a></center>
    </form>
</div>



</div>




<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>







<div id="content">


<div id="content" style=" width:410px;float:left;">
    <form style="background-color: rgb(29, 71, 163);" action="{{url_for('record_class.class_9')}}">
    <div>
        <center><img   width="400" height="200" src="https://s16.picofile.com/file/8414604242/amadegy.jpg" alt="amadegy_9 logo"></center><br>
    </div>
    <center><a style="color: white;" href="{{url_for('record_class.amadegy_record')}}">آمادگی دفاعی</a></center>
    </form>
</div>

<div id="content" style=" width:410px;float:left;">
    <form style="background-color: rgb(29, 71, 163);" action="{{url_for('record_class.class_9')}}">
    <div>
        <center><img   width="400" height="200" src="https://s16.picofile.com/file/8414604218/arabic.jpg" alt="arabic_9 logo"></center><br>
    </div>
    <center><a style="color: white;" href="{{url_for('record_class.arabic_record')}}">عربی</a></center>
    </form>
</div>

<div id="content" style=" width:410px;float:left;">
    <form style="background-color: rgb(29, 71, 163);" action="{{url_for('record_class.class_9')}}">
    <div>
        <center><img   width="400" height="200" src="https://s16.picofile.com/file/8414604392/negaresh.jpg" alt="negaresh_9 logo"></center><br>
    </div>
    <center><a style="color: white;" href="{{url_for('record_class.negaresh_record')}}">نگارش</a></center>
    </form>
</div>
</div>


{% endblock %}
