{% extends 'base.html' %}

{% block title %} ریاضی {% endblock %}

{% block content %}

<form action="{{url_for('record_class.math_record')}}">
    <center><h1>ریاضی نهم</h1></center>
</form>

<div id="content">
    <div id="content">
        <div id="content" style="height:300px; width:410px;float:right;">
        <form style="background-color: rgb(29, 71, 163);;" action="{{url_for('record_class.class_9')}}">
        <style>.h_iframe-aparat_embed_frame{position:relative;}.h_iframe-aparat_embed_frame .ratio{display:block;width:100%;height:auto;}.h_iframe-aparat_embed_frame iframe{position:absolute;top:0;left:0;width:100%;height:100%;}</style><div class="h_iframe-aparat_embed_frame"><span style="display: block;padding-top: 57%"></span><iframe src="https://www.aparat.com/video/video/embed/videohash/HjIu2/vt/frame" allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
        </div>
        <p> ریاضی نهم زنگ دوم 24 ابان </p>
        </form>
    </div>

<div id="content">
    <div id="content" style="height:300px; width:410px;float:right;">
    <form style="background-color: rgb(29, 71, 163);;" action="{{url_for('record_class.class_9')}}">
        <style>.h_iframe-aparat_embed_frame{position:relative;}.h_iframe-aparat_embed_frame .ratio{display:block;width:100%;height:auto;}.h_iframe-aparat_embed_frame iframe{position:absolute;top:0;left:0;width:100%;height:100%;}</style><div class="h_iframe-aparat_embed_frame"><span style="display: block;padding-top: 57%"></span><iframe src="https://www.aparat.com/video/video/embed/videohash/LETND/vt/frame" allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
        </div>
    <p>ریاضی نهم 19 ابان</p>
    </form>
</div>

<div id="content">
    <div id="content" style="height:300px; width:410px;float:right;">
    <form style="background-color: rgb(29, 71, 163);;" action="{{url_for('record_class.class_9')}}">
        <style>.h_iframe-aparat_embed_frame{position:relative;}.h_iframe-aparat_embed_frame .ratio{display:block;width:100%;height:auto;}.h_iframe-aparat_embed_frame iframe{position:absolute;top:0;left:0;width:100%;height:100%;}</style><div class="h_iframe-aparat_embed_frame"><span style="display: block;padding-top: 57%"></span><iframe src="https://www.aparat.com/video/video/embed/videohash/UpPtN/vt/frame" allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
        </div>
    <p> ریاضی نهم 17 آبان</p>
    </form>
</div>




</div>




<br><br><br><br><br><br><br><br><br>
<br><br><br><br><br>








<div id="content">
    <div id="content">
        <div id="content" style="height:300px; width:410px;float:right;">
        <form style="background-color: rgb(29, 71, 163);;" action="{{url_for('record_class.class_9')}}">
            <style>.h_iframe-aparat_embed_frame{position:relative;}.h_iframe-aparat_embed_frame .ratio{display:block;width:100%;height:auto;}.h_iframe-aparat_embed_frame iframe{position:absolute;top:0;left:0;width:100%;height:100%;}</style><div class="h_iframe-aparat_embed_frame"><span style="display: block;padding-top: 57%"></span><iframe src="https://www.aparat.com/video/video/embed/videohash/nzYag/vt/frame" allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
            </div>
        <p>ریاضی زنگ دوم</p>
        </form>
    </div>
    <div id="content">
        <div id="content" style="height:300px; width:410px;float:right;">
        <form style="background-color: rgb(29, 71, 163);;" action="{{url_for('record_class.class_9')}}">
            <style>.h_iframe-aparat_embed_frame{position:relative;}.h_iframe-aparat_embed_frame .ratio{display:block;width:100%;height:auto;}.h_iframe-aparat_embed_frame iframe{position:absolute;top:0;left:0;width:100%;height:100%;}</style><div class="h_iframe-aparat_embed_frame"><span style="display: block;padding-top: 57%"></span><iframe src="https://www.aparat.com/video/video/embed/videohash/Nd39b/vt/frame" allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
            </div>
        <p>ریاضی زنگ اول</p>
        </form>
    </div>

<div id="content">
    <div id="content" style="height:300px; width:410px;float:right;">
    <form style="background-color: rgb(29, 71, 163);;" action="{{url_for('record_class.class_9')}}">
        <style>.h_iframe-aparat_embed_frame{position:relative;}.h_iframe-aparat_embed_frame .ratio{display:block;width:100%;height:auto;}.h_iframe-aparat_embed_frame iframe{position:absolute;top:0;left:0;width:100%;height:100%;}</style><div class="h_iframe-aparat_embed_frame"><span style="display: block;padding-top: 57%"></span><iframe src="https://www.aparat.com/video/video/embed/videohash/lFj51/vt/frame" allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
        </div>
    <p> ریاضی نهم | زنگ دوم | ۷ مهر</p>
    </form>
</div>


</div>



<br><br><br><br><br><br><br><br><br>
<br><br><br><br><br>








<div id="content">

    <div id="content">
        <div id="content" style="height:300px; width:410px;float:right;">
        <form style="background-color: rgb(29, 71, 163);;" action="{{url_for('record_class.class_9')}}">
            <style>.h_iframe-aparat_embed_frame{position:relative;}.h_iframe-aparat_embed_frame .ratio{display:block;width:100%;height:auto;}.h_iframe-aparat_embed_frame iframe{position:absolute;top:0;left:0;width:100%;height:100%;}</style><div class="h_iframe-aparat_embed_frame"><span style="display: block;padding-top: 57%"></span><iframe src="https://www.aparat.com/video/video/embed/videohash/Nz4FA/vt/frame" allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
            </div>
        <p>ریاضی نهم | زنگ اول | ۷ مهر</p>
        </form>
    </div>
    
    
    <div id="content">
        <div id="content" style="height:300px; width:410px;float:right;">
        <form style="background-color: rgb(29, 71, 163);;" action="{{url_for('record_class.class_9')}}">
            <style>.h_iframe-aparat_embed_frame{position:relative;}.h_iframe-aparat_embed_frame .ratio{display:block;width:100%;height:auto;}.h_iframe-aparat_embed_frame iframe{position:absolute;top:0;left:0;width:100%;height:100%;}</style><div class="h_iframe-aparat_embed_frame"><span style="display: block;padding-top: 57%"></span><iframe src="https://www.aparat.com/video/video/embed/videohash/3v8hE/vt/frame" allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
            </div>
        <p>ریاضی نهم| زنگ دوم|۵مهر</p>
        </form>
    </div>
    <div id="content">
        <div id="content" style="height:300px; width:410px;float:right;">
        <form style="background-color: rgb(29, 71, 163);;" action="{{url_for('record_class.class_9')}}">
            <style>.h_iframe-aparat_embed_frame{position:relative;}.h_iframe-aparat_embed_frame .ratio{display:block;width:100%;height:auto;}.h_iframe-aparat_embed_frame iframe{position:absolute;top:0;left:0;width:100%;height:100%;}</style><div class="h_iframe-aparat_embed_frame"><span style="display: block;padding-top: 57%"></span><iframe src="https://www.aparat.com/video/video/embed/videohash/4B5vG/vt/frame" allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
            </div>
        <p>ریاضی نهم|قسمت دوم زنگ اول|۵ مهر</p>
        </form>
    </div>


</div>






<br><br><br><br><br><br><br><br><br>
<br><br><br><br><br>







<div id="content">
<div id="content">
    <div id="content" style="height:300px; width:410px;float:right;">
    <form style="background-color: rgb(29, 71, 163);;" action="{{url_for('record_class.class_9')}}">
        <style>.h_iframe-aparat_embed_frame{position:relative;}.h_iframe-aparat_embed_frame .ratio{display:block;width:100%;height:auto;}.h_iframe-aparat_embed_frame iframe{position:absolute;top:0;left:0;width:100%;height:100%;}</style><div class="h_iframe-aparat_embed_frame"><span style="display: block;padding-top: 57%"></span><iframe src="https://www.aparat.com/video/video/embed/videohash/umJsL/vt/frame" allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe></div>
    <p>ریاضی نهم| ۵ مهر | زنگ اول</p>
    </form>
</div>

<div id="content">
    <div id="content" style="height:300px; width:410px;float:right;">
    <form style="background-color: rgb(29, 71, 163);;" action="{{url_for('record_class.class_9')}}">
        <style>.h_iframe-aparat_embed_frame{position:relative;}.h_iframe-aparat_embed_frame .ratio{display:block;width:100%;height:auto;}.h_iframe-aparat_embed_frame iframe{position:absolute;top:0;left:0;width:100%;height:100%;}</style><div class="h_iframe-aparat_embed_frame"><span style="display: block;padding-top: 57%"></span><iframe src="https://www.aparat.com/video/video/embed/videohash/kVMTj/vt/frame" allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
        </div>
    <p>ریاضی نهم اقای صالحی | ۳۱شهریور</p>
    </form>
</div>

<div id="content">
    <div id="content" style="height:300px; width:410px;float:right;">
    <form style="background-color: rgb(29, 71, 163);;" action="{{url_for('record_class.class_9')}}">
        <style>.h_iframe-aparat_embed_frame{position:relative;}.h_iframe-aparat_embed_frame .ratio{display:block;width:100%;height:auto;}.h_iframe-aparat_embed_frame iframe{position:absolute;top:0;left:0;width:100%;height:100%;}</style><div class="h_iframe-aparat_embed_frame"><span style="display: block;padding-top: 57%"></span><iframe src="https://www.aparat.com/video/video/embed/videohash/XNKmU/vt/frame" allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
        </div>
    <p>ریاضی نهم اقای صالحی ۳۱ شهریور</p>
    </form>
</div>
</div>

{% endblock %}