{% extends 'base.html' %}

{% block title %} علوم {% endblock %}

{% block content %}
<form action="{{url_for('record_class.oloom_record')}}">
    <center><h1>علوم نهم</h1></center>
</form>


<div id="content">
    <div id="content">
        <div id="content" style="height:300px; width:410px;float:right;">
        <form style="background-color: rgb(29, 71, 163);;" action="{{url_for('record_class.oloom_record')}}">
            <style>.h_iframe-aparat_embed_frame{position:relative;}.h_iframe-aparat_embed_frame .ratio{display:block;width:100%;height:auto;}.h_iframe-aparat_embed_frame iframe{position:absolute;top:0;left:0;width:100%;height:100%;}</style><div class="h_iframe-aparat_embed_frame"><span style="display: block;padding-top: 57%"></span><iframe src="https://www.aparat.com/video/video/embed/videohash/UIoKH/vt/frame" allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
            </div>
        <p> علوم نهم / اقای معصومی / 1 اذر </p>
        </form>
    </div>

    <div id="content">
        <div id="content" style="height:300px; width:410px;float:right;">
        <form style="background-color: rgb(29, 71, 163);;" action="{{url_for('record_class.oloom_record')}}">
            <style>.h_iframe-aparat_embed_frame{position:relative;}.h_iframe-aparat_embed_frame .ratio{display:block;width:100%;height:auto;}.h_iframe-aparat_embed_frame iframe{position:absolute;top:0;left:0;width:100%;height:100%;}</style><div class="h_iframe-aparat_embed_frame"><span style="display: block;padding-top: 57%"></span><iframe src="https://www.aparat.com/video/video/embed/videohash/xyicN/vt/frame" allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
            </div>
        <p> علوم نهم 28 ابان اقای معصومی </p>
        </form>
    </div>

    <div id="content">
        <div id="content" style="height:300px; width:410px;float:right;">
        <form style="background-color: rgb(29, 71, 163);;" action="{{url_for('record_class.oloom_record')}}">
            <style>.h_iframe-aparat_embed_frame{position:relative;}.h_iframe-aparat_embed_frame .ratio{display:block;width:100%;height:auto;}.h_iframe-aparat_embed_frame iframe{position:absolute;top:0;left:0;width:100%;height:100%;}</style><div class="h_iframe-aparat_embed_frame"><span style="display: block;padding-top: 57%"></span><iframe src="https://www.aparat.com/video/video/embed/videohash/dncom/vt/frame" allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
            </div>
        <p> علوم نهم 17 آبان </p>
        </form>
    </div>
</div>





<div id="content">
    <div id="content">
        <div id="content" style="height:300px; width:410px;float:right;">
        <form style="background-color: rgb(29, 71, 163);;" action="{{url_for('record_class.oloom_record')}}">
            <style>.h_iframe-aparat_embed_frame{position:relative;}.h_iframe-aparat_embed_frame .ratio{display:block;width:100%;height:auto;}.h_iframe-aparat_embed_frame iframe{position:absolute;top:0;left:0;width:100%;height:100%;}</style><div class="h_iframe-aparat_embed_frame"><span style="display: block;padding-top: 57%"></span><iframe src="https://www.aparat.com/video/video/embed/videohash/7zq8h/vt/frame" allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
            </div>

        <p> علوم نهم 14 آبان </p>
        </form>
    </div>

    <div id="content">
        <div id="content" style="height:300px; width:410px;float:right;">
        <form style="background-color: rgb(29, 71, 163);;" action="{{url_for('record_class.oloom_record')}}">
            <style>.h_iframe-aparat_embed_frame{position:relative;}.h_iframe-aparat_embed_frame .ratio{display:block;width:100%;height:auto;}.h_iframe-aparat_embed_frame iframe{position:absolute;top:0;left:0;width:100%;height:100%;}</style><div class="h_iframe-aparat_embed_frame"><span style="display: block;padding-top: 57%"></span><iframe src="https://www.aparat.com/video/video/embed/videohash/VfyYe/vt/frame" allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
            </div>
        <p>علوم نهم زنگ دوم</p>
        </form>
    </div>

    <div id="content">
        <div id="content" style="height:300px; width:410px;float:right;">
        <form style="background-color: rgb(29, 71, 163);;" action="{{url_for('record_class.oloom_record')}}">
            <style>.h_iframe-aparat_embed_frame{position:relative;}.h_iframe-aparat_embed_frame .ratio{display:block;width:100%;height:auto;}.h_iframe-aparat_embed_frame iframe{position:absolute;top:0;left:0;width:100%;height:100%;}</style><div class="h_iframe-aparat_embed_frame"><span style="display: block;padding-top: 57%"></span><iframe src="https://www.aparat.com/video/video/embed/videohash/Wwep0/vt/frame" allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
            </div>
        <p>علوم نهم زنگ اول</p>
        </form>
    </div>
</div>




<div id="content">
    <div id="content">
        <div id="content" style="height:300px; width:410px;float:right;">
        <form style="background-color: rgb(29, 71, 163);;" action="{{url_for('record_class.oloom_record')}}">
            <style>.h_iframe-aparat_embed_frame{position:relative;}.h_iframe-aparat_embed_frame .ratio{display:block;width:100%;height:auto;}.h_iframe-aparat_embed_frame iframe{position:absolute;top:0;left:0;width:100%;height:100%;}</style><div class="h_iframe-aparat_embed_frame"><span style="display: block;padding-top: 57%"></span><iframe src="https://www.aparat.com/video/video/embed/videohash/IXedQ/vt/frame" allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
            </div>
        <p> علوم نهم | اقای معصومی | ۹ مهر </p>
        </form>
    </div>

    <div id="content">
        <div id="content" style="height:300px; width:410px;float:right;">
        <form style="background-color: rgb(29, 71, 163);;" action="{{url_for('record_class.oloom_record')}}">
            <style>.h_iframe-aparat_embed_frame{position:relative;}.h_iframe-aparat_embed_frame .ratio{display:block;width:100%;height:auto;}.h_iframe-aparat_embed_frame iframe{position:absolute;top:0;left:0;width:100%;height:100%;}</style><div class="h_iframe-aparat_embed_frame"><span style="display: block;padding-top: 57%"></span><iframe src="https://www.aparat.com/video/video/embed/videohash/DFexG/vt/frame" allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
            </div>
        <p>علوم نهم|۵ مهر</p>
        </form>
    </div>

    <div id="content">
        <div id="content" style="height:300px; width:410px;float:right;">
        <form style="background-color: rgb(29, 71, 163);;" action="{{url_for('record_class.oloom_record')}}">
            <style>.h_iframe-aparat_embed_frame{position:relative;}.h_iframe-aparat_embed_frame .ratio{display:block;width:100%;height:auto;}.h_iframe-aparat_embed_frame iframe{position:absolute;top:0;left:0;width:100%;height:100%;}</style><div class="h_iframe-aparat_embed_frame"><span style="display: block;padding-top: 57%"></span><iframe src="https://www.aparat.com/video/video/embed/videohash/T1Ug0/vt/frame" allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
            </div>
        <p>علوم نهم|۲ مهر|قسمت دوم زنگ اول</p>
        </form>
    </div>
</div>


{% endblock %}